In [52]:
import pandas as pd

In [53]:
#pd.read_csv('Property_Price.csv')

In [54]:
#Importing single API data Example 1
#Here we are importing data from an API  that returns your public IP Address
# https://ip-fast.com/api/ip/

import requests

myip = requests.get('https://ip-fast.com/api/ip/')


myip.text 

# result will return your Public IP address

'109.76.87.103'

In [55]:
#Importing large ammount of API data Example 2
#Here we are importing data from an API  that contains data on crypto currency for tha last 24 hours
# Source: https://mixedanalytics.com/blog/list-actually-free-open-no-auth-needed-apis/

#import requests
#import json
import pandas as pd

binance = requests.get('https://api2.binance.com/api/v3/ticker/24hr')

# Framing the data so that it can be easily read.

pd.DataFrame(binance.json())

,symbol,priceChange,priceChangePercent,weightedAvgPrice,prevClosePrice,lastPrice,lastQty,bidPrice,bidQty,askPrice,...,openPrice,highPrice,lowPrice,volume,quoteVolume,openTime,closeTime,firstId,lastId,count
0,ETHBTC,-0.00130600,-1.906,0.06781838,0.06853700,0.06723100,0.11570000,0.06723000,15.15630000,0.06723100,...,0.06853700,0.06892900,0.06710400,168752.75990000,11444.53822989,1652826992606,1652913392606,340743380,340934785,191406
1,LTCBTC,-0.00004900,-2.055,0.00236737,0.00238500,0.00233500,8.70600000,0.00233400,105.15200000,0.00233600,...,0.00238400,0.00244800,0.00229100,356461.98100000,843.87845956,1652826992309,1652913392309,79841568,79890013,48446
2,BNBBTC,0.00007400,0.738,0.01007194,0.01003100,0.01010600,6.86700000,0.01010500,25.80300000,0.01010600,...,0.01003200,0.01013600,0.00998900,71581.14500000,720.96133352,1652826993506,1652913393506,185963829,186022821,58993
3,NEOBTC,-0.00001200,-3.343,0.00035263,0.00035900,0.00034700,1.00000000,0.00034700,134.12000000,0.00034800,...,0.00035900,0.00036600,0.00034300,60791.30000000,21.43692491,1652826981925,1652913381925,43364311,43366864,2554
4,QTUMETH,-0.00003700,-1.826,0.00200393,0.00203300,0.00198900,46.60000000,0.00198700,192.80000000,0.00199200,...,0.00202600,0.00208100,0.00196200,10798.60000000,21.63966310,1652826988373,1652913388373,5269139,5269631,493
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2041,LDOBTC,-0.00000195,-3.920,0.00004995,0.00004954,0.00004779,65.30000000,0.00004785,176.17000000,0.00004806,...,0.00004974,0.00005400,0.00004692,100505.23000000,5.02073309,1652826991452,1652913391452,38917,40766,1850
2042,ENSTRY,-24.40000000,-11.973,192.95770359,204.10000000,179.40000000,8.05600000,179.40000000,4.48700000,180.00000000,...,203.80000000,208.50000000,175.20000000,62235.85800000,12008888.24060000,1652826992115,1652913392115,26554,31665,5112
2043,DAREUR,-0.02892000,-6.420,0.43203088,0.45419000,0.42156000,285.00000000,0.41710000,1139.00000000,0.42134000,...,0.45048000,0.47117000,0.40475000,337914.00000000,145989.28112000,1652826991420,1652913391420,2899,3478,580
2044,DARETH,-0.00000460,-2.010,0.00022702,0.00023030,0.00022430,93.60000000,0.00022390,50.50000000,0.00022580,...,0.00022890,0.00023760,0.00021720,222056.00000000,50.41060411,1652826993583,1652913393583,3198,3753,556
2045,ALGOETH,-0.00000760,-3.195,0.00023297,0.00023830,0.00023030,241.00000000,0.00022980,4082.40000000,0.00023060,...,0.00023790,0.00024290,0.00022530,118660.60000000,27.64460351,1652826993092,1652913393092,2174,2533,360

In [56]:
#Concenate data of 2 people to show their ages on one data set with 


Manus = pd.DataFrame ({"Year": ['2008', '2009', '2010' , '2011', '2012'],
                       "Age":  [0, 1, 2, 3, 4 ]})
    
Oisin = pd.DataFrame ({"Year": ['2006', '2007', '2008' , '2009', '2010'],
                       "Age":  [0, 1, 2, 3, 4 ]})

pd.concat( [Manus,Oisin], keys=['Oisin', 'Manus'])

         Year  Age
Oisin 0  2008    0
      1  2009    1
      2  2010    2
      3  2011    3
      4  2012    4
Manus 0  2006    0
      1  2007    1
      2  2008    2
      3  2009    3
      4  2010    4

In [7]:
# import the data of 2 files and Merge
# we will import specific Colums of 2 files and Merge


import os, glob
import pandas as pd

path = "/multicsv2"

all_files = glob.glob(os.path.join(path, "Allmitch.csv"))

In [5]:
#Export the data to a CSV file for analysis


binance = pd.DataFrame(data, columns= ['symbol', 'weightedAvgPrice', ])

NameError: name 'data' is not defined

In [35]:
binance.to_csv ('binance_24h_data.csv')

#print (df)

AttributeError: 'Response' object has no attribute 'to_csv'

In [10]:
# 2046 rows is too much data to interpret. Lets list the headers to see what data we can strip

print ("List of headers are: ") 

list(df.columns.values)

List of headers are:

NameError: name 'df' is not defined

In [ ]:
#concenate